<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='Logo.jpg') }}" class="icon" />
  <h1>ReturnCap chatbot</h1>
  <form id="chat-form" method="POST">
    <input type="text" name="message" id="message-input" placeholder="Ask me anything, I am here to help.">
    <button type="submit">Send</button>
  </form>

  <div id="conversation" style="max-width: 500px;">
    <!-- <p class="user">You: I can't connect with my node</p>
    <p class="bot">Bot: I can't help you with that.</p> -->
    <!-- conversation will be displayed here -->
  </div>

  <script>
    const form = document.getElementById('chat-form');
    const conversation = document.getElementById('conversation');

    form.addEventListener('submit', event => {
      event.preventDefault();
      const messageInput = document.getElementById('message-input');
      const message = messageInput.value;
      // Add the message to the conversation
      conversation.innerHTML += `<p class="user">You: ${message}</p>`;

      // Send the message to the chatbot endpoint
      const url = `{{ url_for('chatbot') }}`
      fetch(url, {
        method: 'POST',
        body: JSON.stringify({ message }),
        headers: {
          'Content-Type': 'application/json'
        }
      })
        .then(response => response.text())
        .then(response => {
          // Display the chatbot's response in the conversation
          conversation.innerHTML += `<p class="bot">Bot: ${response}</p>`;
        });

      // Clear the message input and focus it
      messageInput.value = '';
      messageInput.focus();
    });
  </script>

</body>
</html>
